/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #FF7837;
    border-color: #FF7837;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #1D1C1C;
        border-color: #1D1C1C;
    }
    .btn-primary:active {
        color: #fff;
        background-color: #FF7837;
        border-color: #FF7837;
    }
    .btn-primary:focus {
        color: #fff;
        background-color: #FF7837;
        border-color: #FF7837;
    }