/*---------------Import font---------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*---------------Buttons---------------*/

.btn-answer {
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 50%;
    color: #fff;
    background-color: #FF7837;
    border-color: #FF7837;
    border: none;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}
.btn-answer:hover {
    color: #fff;
    background-color: #c15d2b;
    border-color: #c15d2b;
}
.btn-answer:active {
    color: #fff;
    background-color: #FF7837;
    border-color: #FF7837;
}
.btn-answer:focus {
    color: #fff;
    background-color: #FF7837;
    border-color: #FF7837;
}

.btn-secondary {
    color: #FF7837;
    background-color: #fff;
    border-color: #FF7837;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1%;
    margin-top: 1%;
}

.btn-confirmation {
    padding: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
}

.btn-export {
    color: #fff;
    background-color: #193cbe;
    border-color: #193cbe;
    margin-bottom: 1%;
    font-family: 'Roboto', sans-serif;
}

.btn-host {
    color: #FF7837;
    background-color: #fff;
    border-color: #fff;
}

.btn-minus_question {
    float: right;
    margin-right: 1.5%;
    color: #FF7837;
    background-color: #fff;
    border-color: #FF7837;
}

.btn-minus_quiz {
    margin-left: 41%;
    color: #FF7837;
    background-color: #fff;
    border-color: #FF7837;
}

.btn-modify {
    margin-left: 33%;
}

.btn-next{
    padding-bottom: 5%;
    padding-right: 3%;
}

.btn-primary {
    color: #fff;
    background-color: #FF7837;
    border-color: #FF7837;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
}
    .btn-primary:hover {
        color: #fff;
        background-color: #1D1C1C;
        border-color: #1D1C1C;
    }
    .btn-primary:active {
        color: #fff;
        background-color: #FF7837;
        border-color: #FF7837;
    }
    .btn-primary:focus {
        color: #fff;
        background-color: #FF7837;
        border-color: #FF7837;
    }
    
.btn-right {
    float: right; 
}

.btn-tertiary {
    color: #009BE6;
    background-color: #fff;
    border-color: #009BE6;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
}

.btn-green{
    background-color: #86DC3D;
    border-color: #86DC3D;
    color: #fff;
}
    .btn-green:hover {
        color: #fff;
        background-color: #1D1C1C;
        border-color: #1D1C1C;
    }

.btn-yes{
    margin-right: 2%;
}


.btn-popup{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 18px;
}

.btn-corner{
    margin-left: 1%;
    
}

.btn-center{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5vw;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.btn-submit{
    font-family: 'Roboto', sans-serif;
    padding: 15px 30px;
    font-size: large;
    font-weight: 500;
    box-shadow: 3px 3px #bc5928;
}

/*---------------Divs---------------*/

.div-center {
    padding: 2%;
    text-align: center;
}

.div-correct_answer {
    text-align: right;
    flex: 1;
    margin-right: 2px;
}

.div-flex {
    display:-webkit-inline-flex;
}

.div-flex2 {
    display: flex;
}

.div-header{
    text-align: center;
}

.div-input_layout{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
}

.div-option {
    display: flex;
    width: 1150px;
}

.div-quiz_layout {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.div-right{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
    margin-right: 5px;
}

.div-signIn{
    border-right: 2px solid white;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
/*---------------Images---------------*/

.img-host-logo {
    padding:1%;
}


/*---------------Inputs---------------*/

.input-layout {
    width: 100%;
    background-color: #DCE2E6;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.input-question {
    width: 250%
}

.input-candInfoPage{
    width: 45rem;
    padding: 2% 15px;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*---------------Labels---------------*/

.label-correct_answer {
    margin-right: 5px;
}

/*---------------Objects---------------*/

.obj-bottom_margin {
    margin-bottom: 2%;
}

.obj-top_padding {
    padding-top: 4%;
}

.obj-right_margin {
    margin-right: 15%;
}

.obj-space {
    margin-right: 0.8%
}
/*-------------Container-------------*/
div.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100%;
}

/*---------------Pages---------------*/

.page-padding {
    padding-right: 7%;
    padding-left: 7%;   
    padding-bottom: 3%;
}

/*---------------Rows---------------*/

.row-layout {
    width: 650px;
}

/*---------------Text---------------*/

.txt-red {
    color: red;
}

.txt-left{
    text-align: left;
    float: left;
}

.txt-right{
    text-align: right;
    float: right;
}

.txt-right_padding{
    padding-right: 6%;
    float: right;
}

.txt-popup{
    text-align: center;
    font-size: 22px;
    margin-top: 5%;
}

.txt-primary{
    font-family: 'Roboto', sans-serif; 
}

.txt-secondary{
    font-family: 'Roboto', sans-serif; 
    font-size: 17px;
    
}

.txt-small{
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
}

.txt-navbar{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Roboto', sans-serif;
}

.txt-white{
    color: white;
}

.txt-represetation{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/*---------------Misc---------------*/
.question-options {
    display: grid;
    grid-template-columns: 300px 300px;
    
  }
.question-text {
    overflow-wrap: break-word;
    width: 170px;
}
.horizontal-centered-div {
    width: 40%;
    padding-top: 25px;
    margin: 0 auto;
}
.progress-bar {
    color: aliceblue;
    width: 300px;
    margin: 15px;
    border-radius: 15px;
}

progress::-webkit-progress-bar {
    background-color: #eeeeee;
}

progress::-webkit-progress-value {
    background-color: #009BE6 !important;
}

.representation-text {
    font-size: larger;
    font-style: italic;
}

/* For Firefox */
progress {
    background-color: #eee;
}

progress::-moz-progress-bar {
    background-color: #009BE6 !important;
}

/* For IE10 */
progress {
    background-color: #eee;
}

progress {
    background-color: #009BE6;
}
.txt-example {
    color: grey;
}

.txt-center {
    text-align: center;
}

/*---------------DropDown---------------*/
.dropdown-length{
    width: 45rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*---------------Popup------------------*/
.popup-overlay {
    margin: auto;
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;
}

.progress-text {
    
    background-color: rgb(239, 239, 239);
    color: black;
    font-size: large;
}
