/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}


.confirmationText {
    padding: 2%;
    text-align: center;
}

.figureConfirmation {
    text-align: center;
    padding: 2%;
}

code {
  color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #FF7837;
    border-color: #FF7837;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1D1C1C;
    border-color: #1D1C1C;
}

.btn-primary:active {
    color: #fff;
    background-color: #FF7837;
    border-color: #FF7837;
}

.btn-primary:focus {
    color: #fff;
    background-color: #FF7837;
    border-color: #FF7837;
}

.rightbtn {
    float: right; 
}

.confirmationbtn {
    padding: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
}

.btn-host {
    color: #FF7837;
    background-color: #fff;
    border-color: #fff;
}

.input-field {
    width: 600px;
    background-color: #DCE2E6;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.space{
    padding-top: 4%;
}

.CandidateInformation{
    display: flex;
    justify-content: center;
}

.answerButton {
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    border-radius: 50%;
    color: #fff;
    background-color: #FF7837;
    border-color: #FF7837;
    border: none;
    font-size: x-large;
}

.answerButton:hover {
    background-color: #e17640;
}

.answerButton:active {
    background-color: #FF7837;
}

.centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.butNText {

    display: flex;

}

.vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ansRow {
    width: 650px;
} 

#header{
    text-align: center;
}

#input{
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 10%;
}

#nextButton{
    padding-bottom: 5%;
    padding-right: 3%;
}


#red-text{
    color: red;
}

.CreateQPage {
    padding-right: 5%;
    padding-left: 5%;
}

.flex {
    display: flex;
}
